@use '../lib/variables';

.column {
	width: variables.$column-width;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: variables.$item-height;
	gap: variables.$row-gap;
	box-sizing: border-box;
	pointer-events: none;
}

.media {
	height: variables.$item-height;
	width: 100%;
	border-radius: 8px;
	user-select: none;
	box-sizing: border-box;
	pointer-events: none;
	overflow: hidden;
	will-change: transform;
	background-size: cover;
	background-position: center;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
}

@media (max-width: 768px) {
	.column {
		width: variables.$mobile-column-width;
		grid-auto-rows: variables.$mobile-item-height;
		gap: variables.$mobile-row-gap;
	}

	.media {
		height: variables.$mobile-item-height;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.column {
		width: variables.$tablet-column-width;
		grid-auto-rows: variables.$tablet-item-height;
		gap: variables.$tablet-row-gap;
	}

	.media {
		height: variables.$tablet-item-height;
	}
}