.glitchCursor {
	position: fixed;
	left: 0;
	top: 0;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	pointer-events: none;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;

	&.visible {
		opacity: 1;
	}
}

/* Hide default system cursor globally */
:global(body.no-system-cursor),
:global(body.no-system-cursor *) {
	cursor: none !important;
}