#root {
	margin: 0;
}

.app {
	width: 100vw;
	display: flex;
	/* Можно использовать flex для выравнивания дочерних элементов */
	flex-direction: column;
	align-items: center;
	/* Пример: центрирует блоки по горизонтали */
}

.footer {
	width: 100%;
	background: black;
	padding: 10px;
	display: flex;
	gap: 20px;
}

.placeholder {
	/* Стили для плейсхолдеров */
	height: 100vh;
	width: 100vw;
	background: teal;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: black;
	border-radius: 8px;
	/* Добавьте другие стили по желанию */
}

html {
	box-sizing: border-box;
	/* Лучше установить здесь */
	font-family: 'IBM Plex Mono', monospace;
	scroll-behavior: smooth;
	/* Приятный бонус - плавный скролл страницы */
}

body {
	overflow-y: auto;
	overflow-x: hidden;
	overscroll-behavior-x: contain;
	overscroll-behavior-y: contain;

	background-color: #121212;
	color: #f1f1f1;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}